<div class="container">
	<div class="wrap">
		<div class="profile-box">
			<div class="img">
				<%= image_tag "profile.jpg", width: "100%", height: "100%" %>
			</div>
			<div class="user-name pull-left">
				<a href=""><b>Name</b>, 27</a>
			</div>
			<div class="user-location text-right">
				<i class="fa fa-map-marker"> Indonesia</i>
			</div>
			<div class="description">
				<h4 class="text-uppercase"><small>Description</small></h4>
				<p class="small">Ruby is a language of careful balance. Its creator, Yukihiro “Matz” Matsumoto, blended parts of his favorite languages (Perl, Smalltalk, Eiffel, Ada, and Lisp) to form a new language that balanced functional programming with imperative programming.</p>
			</div>
		</div>
	</div>
</div>